<%- 
styles = null
%>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <img src="https://via.placeholder.com/360x360.png/004466?text=Hanif+arif"
                class="rounded-circle mx-auto d-block" alt="user">
            <h1 class="text-center mt-3">Hanif Arif | Web Developer</h1>
        </div>
    </div>
</div>